// colors
$pastelgreen: #74ED7C;
$blue: #0582CA;
$mediumBlue: #7E7EFF;
$cerulian: #00A6FB;
$pastelgray: #C3CBC6;

html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
	outline: none;
}

body {
	background: url('../images/grey.png');
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: $cerulian;
}

h1 {
	text-align: center;
	color: $pastelgray;
   -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: $pastelgray;
}

button {
	cursor: pointer;
	background: none;
	padding: 5px 0;
	font-size: 1rem;
}

p {
	margin: 0;
}

#seperator {
	margin: 0 40px;
}

.o {
	color: darken($cerulian, 10%);
}

.container {
	display: flex;
	flex-direction: column;
	.score {
		display: flex;
		justify-content: space-around;
		align-items: center;
		#finalScore {
			flex:0.5;
			display: flex;
			justify-content: space-around;
		}
	}
	.controls {
		display: flex;
		align-items: baseline;
			p {
				margin: 0 10px 0 0;
				color: $mediumBlue;
			}
			.symbolBtn {
				width: 45px;
				border-color: $mediumBlue;
				box-shadow: inset 0 0 10px $mediumBlue;
				font-weight: bold;
				text-shadow: 0 0 3px $pastelgray;
				color: $mediumBlue;
				transition: all 1.5s;
				&:hover {
					color: $pastelgreen;
					box-shadow: 0 0 1px darken($mediumBlue, 10%),
								inset 0 0 10px $mediumBlue;
				}
				&.selected {
					box-shadow: 0 0 2px lighten($pastelgray, 25%);	
					border-color: lighten($pastelgray, 10%);
					cursor: default;
					color: $mediumBlue;
				}
				&:nth-child(2) {
					margin-right: 5px;
				}
				&.blackened {
					border-color: lighten($pastelgray, 10%);
					box-shadow: inset 0 0 25px lighten($pastelgray, 25%);
					color: $mediumBlue;
					cursor: default;
				}
			}
		.startBtn {
			width: 65px; height: 65px;
			border-radius: 50%;
			border-color: $mediumBlue;
			box-shadow: inset 0 0 25px $mediumBlue;
			text-shadow: 0 0 3px $pastelgray;
			font-weight: bold;
			color: $mediumBlue;
			transition: all 1.5s;
			&:hover {
				color: $pastelgreen;
				box-shadow: inset 0 0 5px $mediumBlue;
			}
			&.blackened {
				border-color: lighten($pastelgray, 10%);
				box-shadow: inset 0 0 25px lighten($pastelgray, 25%);
				color: $mediumBlue;
				cursor: default;
			}
		}
	}

	.board {
		margin-top: 50px;
		height: 500px;
		flex: 1 1 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		.cell {
			width: 33.3%;
			height: calc(33.3% + 1px);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 4rem;
			cursor: pointer;

			&[data-index="0"] {
				box-shadow: inset -10px -10px 3px -7.5px $pastelgray;
			}
			&[data-index="1"] {
				box-shadow: inset -10px -10px 3px -7.5px $pastelgray;
			}
			&[data-index="2"] {
				box-shadow: inset -0px -10px 3px -7.5px $pastelgray;
			}
			&[data-index="3"] {
				box-shadow: inset -10px -10px 3px -7.5px $pastelgray;
			}
			&[data-index="4"] {
				box-shadow: inset -10px -10px 3px -7.5px $pastelgray;
			}
			&[data-index="5"] {
				box-shadow: inset -0px -10px 3px -7.5px $pastelgray;
			}
			&[data-index="6"] {
				box-shadow: inset -10px -0px 3px -7.5px $pastelgray;
			}
			&[data-index="7"] {
				box-shadow: inset -10px -0px 3px -7.5px $pastelgray;
			}
		}
	}
	.instructions {
		display: flex;
		flex-direction: column;
		flex: 1 1 100%;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
		.during {
			display: none;
		}
		p {
			text-align: center;
			font-size: 4rem;
			color: lighten($mediumBlue, 24%);
			text-shadow: 0px 0 3px darken($mediumBlue,50%);
		}
	}
}

